name: Update mylist URL

on:
  push:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install httpie
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install httpie
      - name: Install jq, moreutils
        run: sudo apt-get update && sudo apt-get install -y jq moreutils
      - run: bash ./update_mylists.sh
      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com" 
          git add *.txt
          git commit -m "Update mylists ($(date -u '+%Y-%m-%d %H:%M:%S UTC')) [skip ci]"
          git push
